/* === GLOBAL === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f8f4ef;
    color: #2d2d2d;
}

/* === HEADER === */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    background: #1b1b1b;
    color: white;
    position: sticky;
    top: 0;
}

header .logo {
    margin-left: -5px;
}

header .logo img {
    height: 90px;
    width: auto;
    object-fit: contain;
}


nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #c3a27e;
}

/* === HERO === */
.hero {
    position: relative;
    background: url(https://www.arteycuero.com/wp-content/uploads/2018/07/imagen-1-cuero-de-vaca.jpg) center/cover no-repeat;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 5%;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
}
.hero-text {
    position: relative;
    z-index: 2;
}


.hero h1 {
    font-size: 60px;
    max-width: 800px;
    margin: auto;
    line-height: 1.3;
    text-shadow: 2px 2px 10px #000;
}
@media (max-width: 480px) {
    .hero h1 {
        font-size: 30px;
    }
}

.hero-extra {
    color: #da9a56;   
    font-weight: 600;
    margin-top: 20px;
}

.hero p {
    margin: 15px 0;
    font-size: 23px;
    text-shadow: 1px 1px 5px #000;
}




.btn {
    display: inline-block;
    background: #c3a27e;
    color: black;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}

.btn:hover {
    background: #e1c8a3;
}

/* === PRODUCTOS === */
.productos {
    padding: 60px 5%;
    text-align: center;
}

.productos h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

/* === NOSOTROS === */
.nosotros {
    padding: 60px 5%;
    text-align: center;
    background: #eee3d3;
}

/* === CONTACTO === */
.contacto {
    padding: 60px 5%;
    text-align: center;
}

/* === MAPA === */
.ubicacion {
    padding: 60px 5%;
    text-align: center;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    margin-top: 15px;
}

/* === FOOTER === */
footer {
    background: #1b1b1b;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}
